<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ht.scada.config.scadaconfig.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="监控对象透视图"
            class="com.ht.scada.config.perspective.ScadaObjectPerspective"
            id="com.ht.scada.config.perspective.ScadaObjectPerspective">
      </perspective>
      <perspective
            class="com.ht.scada.config.perspective.ScadaDevicePerspective"
            id="com.ht.scada.config.perspective.ScadaDevicePerspective"
            name="监控设备透视图">
      </perspective>
      <perspective
            class="com.ht.scada.config.perspective.RTURemotePerspective"
            id="com.ht.scada.config.perspective.RTURemotePerspective"
            name="RTU远程配置透视图">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="监控对象导航树"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.ht.scada.config.view.ScadaObjectTreeView"
            id="com.ht.scada.config.view.ScadaObjectTreeView">
      </view>
      <view
            name="配置索引"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="com.ht.scada.config.view.MainIndexView"
            id="com.ht.scada.config.view.MainIndexView">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.EndTagView"
            icon="icons/sample3.gif"
            id="com.ht.scada.config.view.EndTagView"
            name="配置监控对象">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.AreaIndexView"
            icon="icons/sample3.gif"
            id="com.ht.scada.config.view.AreaIndexView"
            name="配置常规分类">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.EnergyIndexView"
            icon="icons/sample3.gif"
            id="com.ht.scada.config.view.EnergyIndexView"
            name="配置能耗分类">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.AreaTreeView"
            icon="icons/sample2.gif"
            id="com.ht.scada.config.view.AreaTreeView"
            name="常规分类导航树">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.EnergyTreeView"
            icon="icons/sample2.gif"
            id="com.ht.scada.config.view.EnergyTreeView"
            name="能耗分类导航树">
      </view>
      <view
            class="com.ht.scada.config.view.tree.e"
            id="com.ht.scada.config.view.tree.e"
            name="New ViewPart">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="scada-config.application"
            name="RCP Product">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="RCP Product">
         </property>
      </product>
   </extension>

</plugin>
