<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ht.scada.config.scadaconfig.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="监控对象透视图"
            class="com.ht.scada.config.perspective.ScadaObjectPerspective"
            id="com.ht.scada.config.perspective.ScadaObjectPerspective">
      </perspective>
      <perspective
            class="com.ht.scada.config.perspective.ScadaDevicePerspective"
            fixed="true"
            icon="icons/acquisition_channel_index.png"
            id="com.ht.scada.config.perspective.ScadaDevicePerspective"
            name="监控设备透视图">
      </perspective>
      <perspective
            class="com.ht.scada.config.perspective.RTURemotePerspective"
            id="com.ht.scada.config.perspective.RTURemotePerspective"
            name="RTU远程配置透视图">
      </perspective>
      <perspective
            class="com.ht.scada.config.perspective.VariableConfigPerspective"
            id="com.ht.scada.config.perspective.VariableConfigPerspective"
            name="变量配置透视图">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
     
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.ScadaDeviceIndexView"
            icon="icons/acquisition_device.png"
            id="com.ht.scada.config.view.ScadaDeviceIndexView"
            name="采集设备配置索引">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.ScadaChannelIndexView"
            icon="icons/acquisition_channel.png"
            id="com.ht.scada.config.view.ScadaChannelIndexView"
            name="采集通道配置索引">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.MainIndexView"
            icon="icons/major_tag.png"
            id="com.ht.scada.config.view.MainIndexView"
            name="配置索引">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.EndTagView"
            icon="icons/end_tag.gif"
            id="com.ht.scada.config.view.EndTagView"
            name="配置监控对象">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.AreaIndexView"
            icon="icons/index_area_node.gif"
            id="com.ht.scada.config.view.AreaIndexView"
            name="配置常规分类">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.EnergyIndexView"
            icon="icons/index_energy_node.gif"
            id="com.ht.scada.config.view.EnergyIndexView"
            name="配置能耗分类">
      </view>
      <!-- -->
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.ScadaObjectTreeView"
            icon="icons/major_tag_index.png"
            id="com.ht.scada.config.view.ScadaObjectTreeView"
            name="监控对象导航树">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.AreaTreeView"
            icon="icons/area_index.gif"
            id="com.ht.scada.config.view.AreaTreeView"
            name="常规分类导航树">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.EnergyTreeView"
            icon="icons/energy_index.gif"
            id="com.ht.scada.config.view.EnergyTreeView"
            name="能耗分类导航树">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.ScadaDeviceTreeView"
            icon="icons/major_tag_index.png"
            id="com.ht.scada.config.view.ScadaDeviceTreeView"
            name="监控设备导航树">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.AquisitionChannelView"
            id="com.ht.scada.config.view.AquisitionChannelView"
            name="配置采集通道">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.AquisitionDeviceView"
            id="com.ht.scada.config.view.AquisitionDeviceView"
            name="配置采集设备">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.VariableGroupConfigView"
            id="com.ht.scada.config.view.VariableGroupConfigView"
            name="变量分组配置">
      </view>
      <view
            allowMultiple="true"
            class="com.ht.scada.config.view.VariableTemplateConfigView"
            id="com.ht.scada.config.view.VariableTemplateConfigView"
            name="变量模板配置">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="scada-config.application"
            name="SCADA配置软件">
         <property
               name="appName"
               value="SCADA配置软件">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/huatong.ico">
         </property>
         <property 
         		name="preferenceCustomization" 
         		value="plugin_customization.ini">
         </property>
          
      </product>
   </extension>

</plugin>
